body{
    background-color: #008b8b;
}

img{
    width: auto;
    border-radius: 10%;
}

h1.nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    text-align: center;
    font: Sans-serif;
}